---
layout: default
title: Index
---
%h1
	Index
%h2
	Capacity
%h3
	Marathon Participants: 4,830	
%p
	Note: Should we reach capacity before registration is over, we reserve the right to close without notice. These events do sell out, so you'll want to take advantage of reduced rates and guaranteed participation by registering as soon as possible. Also note that on-site registration is not available for any events.
%h2
	Age Restriction:
%p
	All participants of the Marathon must be 16 years of age or older to participate.
%h2
	The full marathon Course
%p
	Our marathon course offers international appeal traversing both downtown Detroit and Windsor, Ontario, crossing the border at both the Ambassador Bridge and Detroit-Windsor Tunnel. You will run through historic neighborhoods, around beautiful Belle Isle, and along the spectacular RiverWalk. The shared start-finish area on W. Fort St. at Second Ave., near Detroit Free Press operations, has enabled organizers to combine resources and improve runner and spectator experiences alike.
%p
	With a wave start, smaller groups of participants are sent off at two-minute intervals beginning at 7:00 AM, which eases congestion in those early miles. Groups are based on the projected pace indicated on the registration form, so an accurate response is necessary.
%p
	Barring last minute changes due to unforeseen construction or other factors, the 2012 course should remain the same as 2011.
%p
	PLEASE NOTE: In the event of road closures due to construction, we have detours planned and ready to go. Stay tuned to our website, and the <a href="http://www.facebook.com/detroitmarathon">Facebook</a> and <a href="http://www.twitter.com/freepmarathon">Twitter</a> accounts for updates.
%h2
	Time Requirements
%p
	You must be able to complete the marathon in six and a half hours from the time the &#8220;Last Chance Pacer&#8221; crosses the start line. We will close the marathon course at 2:00 PM.
%p
	We consider our events &#8220;competitive&#8221;, and not simply fun runs or walks. A &#8220;Last Chance Pacer&#8221; will be provided for your event. These pacers will travel at the average pace needed to cross the finish line at six and a half hours. Your progress will be monitored throughout the race. If you fall significantly behind the &#8220;Last Chance Pacer&#8221;, you will be given fair warning to pick up the pace. If you can't keep pace, you will be required to board a bus following the pacers to be transported back to the start-finish area.
%p
	We are fortunate to offer two international border crossings during the course of our event. To continue providing the unique opportunity of crossing the border twice, we MUST re-open the Detroit-Windsor Tunnel to vehicular traffic at 10:00 AM. To ensure your safety and to meet all time limits, we have established the following milestones:
%h2
	Milestones	
%table.miles
	%thead
		%tr
			%th.small
				Miles
			%th.large
				Landmark
			%th.medium
				Time
	%tbody
		%tr
			%td
				1.9
			%td
				Bridge Entrance
			%td
				7:50 AM
		%tr.odd
			%td
				4.1
			%td
				Bridge Exit
			%td
				8:23 PM
		%tr
			%td
				6.9
			%td
				Tunnel Entrance
			%td
				9:01 AM
		%tr.odd
			%td
				8.1
			%td
				Tunnel Exit
			%td
				9:22 AM
		%tr
			%td
				13.1
			%td
				Half
			%td
				10:37 PM
		%tr.odd
			%td
				19
			%td
				Indian Village
			%td
				12:04 PM
		%tr
			%td
				22.5
			%td
				Exit Belle Isle
			%td
				1:00 PM
		%tr.odd
			%td
				26.2
			%td
				Finish Line
			%td
				1:52 PM
%p.small
	NOTE: If at any time, you fall behind these milestone times, you may be required to board a bus to be transported back to the start-finish area.
		
%h2 Marathon Pace Teams
%p
	Want to run with a group? Hope to finish within a certain time? Trying to qualify for Boston?
%p
	If you answered &#8220;yes&#8221; to any of these questions, consider signing up for our Pace Team service at the Health &amp; Fitness Expo. For more information about Pace Teams, <a href="http://marathonpacing.com/detroit.php">click here</a>.
%h2
	Competitive Walk
%p
	The competitive walk operates on an honor system. The only requirement is that you must walk the entire distance, in any form of walk you choose. You will wear a second bib identifying you as a walker. If a participant who enters the walk is caught running by anyone on or along the course, they will be disqualified.

%h2
	Prizes
%p
	All individual cash prizes are based on &#8220;clock time&#8221; (not chip time).
%table.miles
	%thead
		%tr
			%th.small
				Place
			%th.medium
				Male Overall
			%th.medium
				Female Overall
			%th.medium
				Male Masters
			%th.medium
				Female Masters
	%tbody
		%tr
			%td
				1st
			%td
				$3,000
			%td
				$3,000
			%td
				$2,000
			%td
				$2,000

		%tr
			%td
				2nd
			%td
				$1,500
			%td
				$1,500
			%td
				$1,000
			%td
				$1,000
		%tr
			%td
				3rd
			%td
				$1,000
			%td
				$1,000
			%td
				$500
			%td
				$500
%p.small
	NOTE: In the event that a Masters runner wins the open division, they will receive both the open and the Masters cash awards.