---
layout: default
title: Design Superhighway LLC | Web Development &amp; Interactive Design Solutions
---
%div
	%section
		%article
			%h1
				Welcome
			%p
				Welcome to designsuperhighway.com. My name is Brian Smith, and I am a Web Developer working in Detroit, Michigan. I am a freelance Web Developer, Interactive Multimedia Designer, and Digital Illustrator.
			%p
				I'm currently working as a Web Applications Developer at the Detroit Media Partnership in Detroit, MI. At the Detroit Media Partnership I've worked on such projects as the Detrot News and Detroit Free Press websites.	
%div.pikachoose
	%ul#pikame
		%li
			%a(href="http://www.designsuperhighway.com")
				%img(src="images/1.jpg")
			%span
				Michigan College Guide
		%li
			%a(href="http://www.designsuperhighway.com")
				%img(src="images/2.jpg")
			%span
				Tee it Up Michigan
		%li
			%a(href="http://www.designsuperhighway.com")
				%img(src="images/3.jpg")
			%span
				Detroit Free Press Marathon App
		%li
			%a(href="http://www.designsuperhighway.com")
				%img(src="images/4.jpg")
			%span
				American Home Fitness
		%li
			%a(href="http://www.designsuperhighway.com")
				%img(src="images/5.jpg")
			%span
				Michigan Death Notices