---
layout: default
title: Design Superhighway LLC | Web Development &amp; Interactive Design Solutions
---
%div
	%h1
		Portfolio
	%p
		The following links will take you to the different mediums of work with which I have experience. Please click on a link to view the files available.
	%div.figure
		%div.photo
			%img(src="images/thumbnails/flash.jpg", alt="Flash")
	%p
		%a(href="Flash/flash.html")
			Flash
	%div.figure
		%div.photo
			%img(src="images/thumbnails/photomanip.jpg", alt="Photos")
		%p
			%a(href="Photo_Manipulation/photo.html")
				Photos
	%div.figure
		%div.photo
			%img(src="images/thumbnails/animation.jpg", alt="Animation")
		%p>
			%a(href="3D_Modeling/animations.html")
				3D
	%div.figure
		%div.photo
			%img(src="images/thumbnails/Sketches.jpg", alt="Sketches")
		%p
			%a(href="Sketches/sketches.html")
				Sketches
	%div.figure
		%div.photo
			%img(src="images/thumbnails/print.jpg", alt="Print")
		%p
			%a(href="Raster/print.html")
				Print
	%div.figure
		%div.photo
			%img(src="images/thumbnails/tshirts.jpg", alt="T-Shirts")
		%p
			%a(href="tshirts/tshirts.html")
				T-Shirts
	%div.figure
		%div.photo
			%img(src="images/thumbnails/vector.jpg", alt="Vector")
		%p
			%a(href="Vector/vector.html")
				Vector
	%div.figure
		%div.photo
			%img(src="images/thumbnails/websites.jpg", alt="Web Design")
		%p
			%a(href="Web_Design/webdesign.html")
				Web Design