---
layout: default
title: Design Superhighway LLC | Web Development &amp; Interactive Design Solutions
---
%div
	%p
		Resume is available for download in both
		%a{:href="Resume/Smith_B.doc"}
			MS Word
		&amp;
		%a{:href="Resume/Smith_B.pdf"}
			PDF