---
layout: default
title: Design Superhighway LLC | Web Development &amp; Interactive Design Solutions
---
%div
	%h1
		Work Experience
	%h2
		PCG Campbell
    %p
    	%ul
    		%li
    			%b
    				Work Duration:
    			June 2007 - August 2007.
	    	%li
	    		%b
	    			Company Web-site:
		    	%a{:href="http://www.pcgcampbell.com"}
        			http://www.pcgcampbell.com
        	%li
        		%b
        			Responsibilities:
        		Worked as an Interactive Media Designer Intern. Worked with Senior Graphic Artist and created HTML and CSS web sites based on designs created by the senior graphic designer. Worked with several different web sites including: 
        		%ul
        			%li
        				%a{:href="http://www.fordracingevents.com"}
        					Ford Racing Events
        			%li
        				%a{:href="http://www.meridianautosystems.com"}
        					Meridian Auto Systems
        			%li
        				%a{:href="http://www.drivingskillsforlife.com"}
        					Driving Skills for Life
    %h2
    	Technical Computer Services Inc.
	%ul
		%li
			%b
				Work Duration:
			June 2003 - August 2006.
		%li
			%b
				Company Web-site:
					%a{:href="http://www.tcspictures.com"}
						http://www.tcspictures.com
		%li
			%b
				Responsibilities:
			Responsible for the sales editing, printing and billing of high resolution digital photographic images. Other responsibilities included, but were not limited to, Working directly with customers to aid in the use of company computer interfaces, designing web sites graphics, promotional advertisements and posters. Designing digital collages, creating DVD slide shows and organzing billing inforamtion.

	%h2
		Student Concert Comittee
		%ul
			%li
				%b
					Work Duration:
				October 2006-2008.
			%li
				%b
					Organization Web-site:
				%a{:href="http://web.ics.purdue.edu/~scc/"}
					http://web.ics.purdue.edu/~scc/
			%li
				%b
					Responsibilities:
				Created promotional material for upcoming concerts at Purdue University. Have been elected Promotions and Webmaster for the 2007 to 2008 school year.
